[include]
    path = ~/.gitconfig.local
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    co = commit
    sw = switch
    br = branch
    fe = fetch
[rerere]
    enabled = false
[merge]
    summary = true
    prompt = false
    tool = opendiff
[core]
	whitespace = trailing-space,space-before-tab,tab-in-indent
	autocrlt = false
[push]
	default = simple
[branch "main"]
    mergeoptions = --no-ff
[init]
	defaultBranch = main
